# Unless explicitly stated otherwise all files in this repository are licensed under the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2025-Present Datadog, Inc.

version: '3.8'

services:
  # Sticker Award Service
  sticker-award:
    image: ghcr.io/datadog/stickerlandia/sticker-award-service:28a94bd
    container_name: sticker-award-service
    environment:
      - DD_IAST_ENABLED=true
      - KAFKA_USERNAME=WEBRTIFAC6UFUM6D
      - DATABASE_HOST=ep-divine-snow-abgipduo-pooler.eu-west-2.aws.neon.tech
      - DD_VERSION=latest
      - DD_RUNTIME_METRICS_ENABLED=true
      - ECS_ENABLE_CONTAINER_METADATA=true
      - DD_PROFILING_ENABLED=true
      - ENV=dev
      - KAFKA_SASL_USERNAME=WEBRTIFAC6UFUM6D
      - DD_GIT_COMMIT_SHA=latest
      - DD_SERVICE=sticker-award-service
      - DD_GIT_REPOSITORY_URL=https://github.com/Datadog/stickerlandia
      - LOG_LEVEL=info
      - KAFKA_BROKERS=pkc-41mxj.uksouth.azure.confluent.cloud:9092
      - KAFKA_SECURITY_PROTOCOL=SASL_SSL
      - DATABASE_NAME=stickerlandia-awards
      - DD_AGENT_HOST=127.0.0.1
      - KAFKA_GROUP_ID=sticker-award-service
      - DATABASE_PORT=5432
      - KAFKA_SASL_MECHANISM=PLAIN
      - LOG_FORMAT=json
      - KAFKA_ENABLE_TLS=true
      - KAFKA_PASSWORD=cflt3sPfz3sOLxQlN2fB8lmN+Ui9QnqVWzKpRtqpoL+KhFqGmn8Ed8pcpAYRQ7yg
      - DD_LOGS_INJECTION=true
      - DD_ENV=dev
      - CATALOGUE_BASE_URL=http://sticker-catalogue:8080
      - DATABASE_SSL_MODE=require
      - KAFKA_SASL_PASSWORD=cflt3sPfz3sOLxQlN2fB8lmN+Ui9QnqVWzKpRtqpoL+KhFqGmn8Ed8pcpAYRQ7yg
      - DD_TRACE_ROUTE_TEMPLATE_RESOURCE_NAMES_ENABLED=true
      - DATABASE_PASSWORD=npg_ph5CAZKYF1bc
      - DATABASE_USER=stickerlandia-award_owner
    ports:
      - "8080:8080"
      - "2345:2345"  # Delve debugger port
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - sticker-network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  sticker-network:
    driver: bridge