# Unless explicitly stated otherwise all files in this repository are licensed under the Apache License Version 2.0.
# This product includes software developed at Datadog (https://www.datadoghq.com/).
# Copyright 2025-Present Datadog, Inc.

name: Build Java

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Java version to use'
        required: false
        type: string
        default: '21'
      java-distribution:
        description: 'Java distribution to use'
        required: false
        type: string
        default: 'temurin'
      working-directory:
        description: 'Working directory for the service'
        required: true
        type: string
      run-codeql:
        description: 'Whether to run CodeQL analysis'
        required: false
        type: boolean
        default: true
      run-architecture-validation:
        description: 'Whether to run architecture validation'
        required: false
        type: boolean
        default: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.java-distribution }}
          cache: maven

      - name: Build with Maven
        run: |
          cd ${{ inputs.working-directory }}
          ./mvnw clean package -DskipTests

      - name: Run Unit Tests
        run: |
          cd ${{ inputs.working-directory }}
          ./mvnw test

      - name: Run Integration Tests
        run: |
          cd ${{ inputs.working-directory }}
          ./mvnw verify -Dskip.unit.tests=true -DskipITs=false

      - name: Install CodeQL CLI
        if: ${{ inputs.run-codeql }}
        run: |
          wget -q https://github.com/github/codeql-cli-binaries/releases/latest/download/codeql-linux64.zip
          unzip -q codeql-linux64.zip
          sudo mv codeql /opt/codeql
          echo "/opt/codeql" >> $GITHUB_PATH
          /opt/codeql/codeql version --format=text

      - name: Create CodeQL Database
        if: ${{ inputs.run-codeql }}
        run: |
          cd ${{ inputs.working-directory }}
          codeql database create cql-db --language=java --source-root=.

      - name: Install CodeQL Packs
        if: ${{ inputs.run-codeql }}
        run: |
          cd ${{ inputs.working-directory }}
          codeql pack install cql-queries/

      - name: Validate Architecture Rules
        if: ${{ inputs.run-architecture-validation }}
        run: |
          cd ${{ inputs.working-directory }}
          ./scripts/validate-architecture.sh
